@font-face {
    font-family: 'Lato-Black';
    src: url('../fonts/LatoBlack/Lato-Black.eot');
    src: url('../fonts/LatoBlack/Lato-Black.woff') format('woff'),
       url('../fonts/LatoBlack/Lato-Black.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/LatoBold/Lato-Bold.eot');
    src: url('../fonts/LatoBold/Lato-Bold.woff') format('woff'),
       url('../fonts/LatoBold/Lato-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/LatoRegular/Lato-Regular.eot');
    src: url('../fonts/LatoRegular/Lato-Regular.woff') format('woff'),
       url('../fonts/LatoRegular/Lato-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MavenProRegular';
    src: url('../fonts/MavenProRegular/MavenProRegular.eot');
    src: url('../fonts/MavenProRegular/MavenProRegular.woff') format('woff'),
       url('../fonts/MavenProRegular/MavenProRegular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}