body{
    font-family: 'Lato-Regular';
    font-size: 1em;
    color: #fff;
}
a, a:hover, a:active{
    text-decoration: none;
    color: #fff;
}
header{
    width: 100%;
    height: 60px;
    background-color: #323232;
    text-transform: uppercase;
    font-family: 'Lato-Bold';
    position: relative;
    text-align: center;
}
header::before, header::after{
    position: absolute;
    content: "";
    top: 74px;
    display: inline-block;
    background-color: #e4e9eb;
    width: calc(100% / 2 - 100px);
    height: 1px;
}
header::before{
    left: 30px;
}
header::after{
    right: 30px;
}
header .logo{
    display: inline-block;
    width: 61px;
    height: 55px;
    background-image: url(../img/logo.png);
    margin: 12px 20px 0 20px;
}
header .menu{
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}
header .menu::before{
    position: absolute;
    content: "";
    top: 0;
    left: calc(100% / 2 - 91px);
    background-image: url(../img/logo_back.png);
    display: block;
    width: 180px;
    height: 89px;
    z-index: -1;
}
header .menu .menu_item{
    line-height: 20px;
    padding: 0 5px;
    margin: 20px 10px;
    display: inline-block;
    vertical-align: top;
    font-size: 0.9em;
    transition: all ease 0.4s;
}
header .menu .menu_item:hover{
    color: #2f9882;
    transition: all ease 0.4s;
}
.hexagon{
    position: relative;
    margin: 78px auto;
    display: block;
    width: 1020px;
    min-height: 575px;
}
.hexagon .line_1,
.hexagon .line_2,
.hexagon .line_3{
    position: absolute;
}
.line_1{
    left: 114px;
}
.line_2{
    top: 173px;
    left: 14px;
}
.line_3{
    top: 346px;
    left: 114px;
}
.hexagon .items{
    width: 180px;
    height: 206px;
    display: inline-block;
    border: 8px solid transparent;
    background-repeat: no-repeat;
    box-sizing: content-box;
}
.hexagon .items:hover span::after{
    z-index: 1;
    transition: all ease 0.7s;
}
.hexagon .item1_1{
    background-image: url(../img/line1item1.png);
}
.hexagon .item1_2{
    background-image: url(../img/line1item2.png);
}
.hexagon .item1_3{
    background-image: url(../img/line1item3.png);
}
.hexagon .item1_4{
    background-image: url(../img/line1item4.png);
}
.hexagon .item2_1{
    background-image: url(../img/line2item1.png);
}
.hexagon .item2_2{
    background-image: url(../img/line2item2.png);
}
.hexagon .item2_3{
    background-image: url(../img/line2item3.png);
}
.hexagon .item2_4{
    background-image: url(../img/line2item4.png);
}
.hexagon .item2_5{
    background-image: url(../img/line2item5.png);
}
.hexagon .item3_1{
    background-image: url(../img/line3item1.png);
}
.hexagon .item3_2{
    background-image: url(../img/line3item2.png);
}
.hexagon .item3_3{
    background-image: url(../img/line3item3.png);
}
.hexagon .item3_4{
    background-image: url(../img/line3item4.png);
}
.line_1::before, .line_3::before,
.line_1::after, .line_3::after{
    content: "";
    position: absolute;
    height: 103px;
    width: 1px;
    background-color: #e4e9eb;
}
.line_1::before{
    top: 60px;
    left: -13px;
}
.line_1::after{
    top: 60px;
    right: -13px;
}
.line_3::before{
    top: 60px;
    left: -13px;
}
.line_3::after{
    top: 60px;
    right: -13px;
}
.slider{
    position: absolute;
    bottom: -60px;
    left: 0;
    width: 100%;
}
.about{
    display: block;
    width: 100%;
    background-color: #2eb398;
    padding: 14px 0;
}
.about_inner{
    display: block;
    max-width: 820px;
    margin: 0 auto;
    border: 1px solid;
    border-color: transparent #219d84;
    padding: 50px 18px;
}
.photo{
    display: inline-block;
    vertical-align: top;
    width: 180px;
    height: 206px;
    background-image: url(../img/mrSmith_color.png);
    position: relative;
}
.photo::before{
    content: "";
    position: absolute;
    display: inline-block;
    width: 180px;
    height: 206px;
    background-image: url(../img/mrSmith_black.png);
    top: 0;
    left: 0;
    transition: opacity ease 0.4s;
}
.photo:hover::before{
    opacity: 0;
    transition: opacity ease 0.7s;
}
.left_side{
    display: inline-block;
    vertical-align: top;
    max-width: 580px;
    margin-left: 18px;
}
.left_side h2{
    color: #d7fcf5;
    font-size: 2.75em;
    font-family: 'MavenProRegular';
    margin: 0;
}
.left_side h5{
    color: #20816d;
    font-size: 1.8em;
    font-family: 'MavenProRegular';
    margin-top: 0;
}
.left_side p{
    color: #d7fcf5;
    font-size: 1.2em;
    line-height: 1.9;
}
.left_side .socials{
    float: right;
}
.left_side .socials ul li{
    display: inline-block;
    width: 24px;
    height: 24px;
    float: left;
}
.left_side .socials ul li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all ease 0.4s;
}
.left_side .socials ul li a:hover{
    transition: all ease 0.4s;
    background-color: #219d84;
}
.left_side .socials ul li a:hover i{
    color: #fff;
    transition: all ease 0.4s;
}
.left_side .socials ul li a i{
    color: #04ac95;
    line-height: 24px;
}
.left_side .socials ul a.facebook{
    background-color: #a4dbd4;
}
.left_side .socials ul a.twitter{
    background-color: #6ccbbe;
}
.left_side .socials ul a.google{
    background-color: #7ed0c5;
}
.left_side .socials ul a.pinterest{
    background-color: #abddd6;
}
.left_side .socials ul a.linkedin{
    background-color: #acddd7;
}
.left_side .socials ul a.dribble{
    background-color: #6dcbbe;
}

.contacts{
    display: block;
    width: 100%;
    background-color: #323232;
    position: relative;
    padding: 50px 0;
    color: #e0e0e0;
}
.contacts::before,
.contacts::after{
    content: "";
    display: block;
    height: 1px;
    width: calc(100% - 60px);
    background-color: #2b2b2b;
    position: absolute;
    left: 30px;
}
.contacts::before{
    top: 14px;
}
.contacts::after{
    bottom: 14px;
}
.contacts_inner{
    display: block;
    max-width: 820px;
    margin: 0 auto;
    padding: 0 18px;
}
.contacts_inner .left_form{
    display: inline-block;
    vertical-align: top;
    width: 74%;
}
.contacts_inner .right_form{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin: 84px 0 0 20px;
    line-height: 2.2;
    text-align: justify;
    color: #bebebe;
    font-size: 1.1em;
}
.contacts_inner h2{
    font-size: 2.75em;
    font-family: 'MavenProRegular';
    margin-bottom: 3px;
}
.contacts_inner h5{
    font-size: 1.65em;
    font-family: 'MavenProRegular';
    margin: 0 0 20px 0;
    color: #bebebe;
}
form input, form textarea{
    width: 100%;
    height: 38px;
    border: none;
    outline: none;
    background-color: #454545;
    color: #bebebe;
    margin-bottom: 16px;
    padding: 0px 15px;
    font-size: 1.2em;
}
form textarea{
    resize: vertical;
    height: 150px;
    padding-top: 10px;
}
form input[type='submit']{
    background-color: #2eb398;
    width: 90px;
    text-transform: uppercase;
    color: #d7fcf5;
    font-family: 'Lato-Bold';
    float: right;
    transition: all ease 0.4s;
}
form input[type='submit']:hover{
    background-color: #1d937e;
    color: #fff;
    transition: all ease 0.4s;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #bebebe;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #bebebe;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #bebebe;
}
:-moz-placeholder { /* Firefox 18- */
    color: #bebebe;
}
.contacts_inner .right_form p{
    font-family: 'Lato-Regular';
}
.contacts_inner .right_form p span{
    font-family: 'Lato-Black';
}
.contacts_inner .right_form p:first-of-type{
    margin-bottom: 20px;
}
.contacts_inner .right_form i{
    color: #2eb398;
    margin-right: 10px;
    width: 11px;
    text-align: right;
    font-size: 1.2em;
}
.contacts_inner .right_form .with_icon{
    margin: 0;
}
footer{
    background-color: #222;
    height: 40px;
    line-height: 40px;
    color: #454545;
    font-family: 'MavenProRegular';
}
footer p{
    padding-left: 30px;
    margin: 0;
}