@font-face {
  font-family: 'Lato-Black';
  src: url('Lato-Black.eot');
  src: url('Lato-Black.woff') format('woff'),
       url('Lato-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

