@font-face {
  font-family: 'MavenProRegular';
  src: url('MavenProRegular.eot');
  src: url('MavenProRegular.woff') format('woff'),
       url('MavenProRegular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

